.header {
    padding-left: 450px;
    background-color: greenyellow;
    height: 60px;
}

.medicine {
    padding-left: 550px;
    background-color: rgb(255, 133, 133);
    padding-top: 20px;
}

.med1 {
    height: 25px;
    margin-bottom: 20px;
}

.sub {
    margin-left: 50px;
    height: 30px;
    width: 60px;
    background-color: rgb(110, 238, 159);
}

.med2 {
    padding-left: 60px;
    padding-top: 20px;
}

.med3 {
    padding-left: 30px;
}

.med10 {
    border-style: groove;
    
    width: 90%
}

.med10 img {
    height: 180px;
    margin: 20px;
}

.details {
    float:right;
    padding-right: 20%;
    font-size: 30px;
    line-height: 0.5;
    padding-top: 25px;
    
}

.company{
    font-size: 20px;
}

.btn{
    font-size: 20px;
    background-color: blue;
    border-radius: 5px;
    height: 60px;
}

.btn p{
    font-size: 1px;
}

.med11{
    list-style: none;
    column-count: 2;
    margin-top: 20px;
}

.med11 li{
    margin-bottom: 20px;
}